body{
  background: #e5e5e5;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
}

*{
  box-sizing: border-box;
}

.logo{
  margin: 50px auto;
  max-width: 500px;
  width: 100%;
  height: auto;
  display: block;
}

h1, h2, h3 {
  font-family: 'Allan', cursive;
}

h1 {
  display: none;
}

h2 {
  font-size: 36px;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.subheading{
  margin: -22px 0 20px;
  text-align: center;
}

p{
  line-height: 1.4;
}

.wrap {
  max-width: 1140px;
  padding: 0 25px;
  margin: 0 auto;
}

.reason-container{
  text-align: center;
}

.reason{
  border: 2px solid #d0d0d0;
  margin-bottom: 20px;
  padding: 10px 20px;
  transition: color 100ms linear, border-color 100ms linear;
  background: #e5e5e5;
  min-height: 235px;
}

.reason:active {
  border-color: #097700;
  color: #097700;
}


#contact-form{
  max-width: 600px;
  margin: 120px auto;
}

#contact-form h3{
  margin-bottom: 30px;
  text-align: center;
}


#contact-form input{
  padding: 10px;
  outline-color: #097700;
  width: 100%;
  margin-bottom: 5px;
}

#contact-form input[type="submit"]{
  background: #00af0a;
  color: white;
  border: 2px solid #ffffff;
  font-weight: 500;
  font-family: 'Allan', cursive;
}


#contact-form textarea{
  width: 100%;
  outline-color: #097700;
  margin: 10px 0;
  padding: 10px;
  border: 0;
}

#contact-form .is-hidden{
  display: none;
}



#contact-form .alert{

}


#contact-form .icon{
  display: inline-block;
  margin: 0 10px;
}


#contact-form .icon svg{
  max-width: 25px;
  max-height: 25px;
  fill: #000;
  display: inline-block;
  vertical-align: top;
}


#contact-form .icon.fb:hover svg{
  fill: #3b5998;
}




@media only screen and (min-width: 750px) {
  .reason{
    display: inline-block;
    width: 45%;
    vertical-align: top;
    margin: 15px 10px;
    transition: color 100ms linear, border-color 100ms linear, transform 100ms linear;
  }

  .reason:hover {
    border-color: #097700;
    color: #097700;
    transform: scale3d(1.2, 1.2, 1.2);
  }
}




@media only screen and (min-width: 1140px) {
  .reason{
    width: 30%;
  }
}